:root {
	--content-small: 1100px;
	--content-normal: 1320px;
	--page-background-color: #FFF;
	--base-colour: #000;
	--font-base: Arial ;
	--font-base-heading: Arial ;
}


body main > div, body main > section {
	width:90%;
	max-width: var(--content-normal);
	margin: 0 auto;
}